@font-face {
  font-family: 'Century Gothic';
  src: local("Century Gothic"), url(../fonts/DidactGothic-Regular.ttf); }
#menu {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

.transparent {
  background-color: transparent !important;
  -webkit-box-shadow: 0px 1px 1px 0px #fff;
  box-shadow: 0px 1px 1px 0px #fff;
  color: #fff !important; }
  .transparent a {
    color: #fff !important;
    font-family: "Century Gothic";
    font-weight: bold;
    font-size: 0.9rem !important; }

.bg-light {
  background-color: #fff !important;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  .bg-light a {
    font-family: "Century Gothic";
    color: #000 !important;
    font-size: 0.9rem !important;
    font-weight: bold; }

.borde-menu {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); }

.overlay .col {
  padding: 0 !important; }
  .overlay .col input,
  .overlay .col select {
    border-radius: 0 !important;
    border: none;
    border-left: 1px solid #9c9c9c;
    height: 55px; }
  .overlay .col select {
    color: #9c9c9c !important; }
  .overlay .col input::placeholder {
    color: #9c9c9c; }
  .overlay .col .btn {
    height: 55px !important;
    border-radius: 0 !important; }

.busqueda_avanzada {
  display: flex;
  align-items: flex-end; }

#buscador_inmueble {
  padding: 0 !important; }
  #buscador_inmueble .card {
    -webkit-box-shadow: inset -1px 3px 8px 5px #fff, 2px 5px 16px 0px #9c9c9c, 5px 5px 15px 5px rgba(255, 95, 44, 0);
    box-shadow: inset -1px 3px 8px 5px #fff, 2px 5px 16px 0px #9c9c9c, 5px 5px 15px 5px rgba(255, 95, 44, 0); }
  #buscador_inmueble input,
  #buscador_inmueble select {
    border-radius: 0 !important;
    height: 55px; }
  #buscador_inmueble select {
    color: #9c9c9c !important; }
  #buscador_inmueble input::placeholder {
    color: #9c9c9c; }
  #buscador_inmueble .btn {
    height: 55px !important;
    border-radius: 0 !important; }
  #buscador_inmueble .btn-primary {
    background-color: #944813;
    border: none; }
    #buscador_inmueble .btn-primary:hover {
      background-color: #67320d; }
  #buscador_inmueble #collapseExample {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    padding-right: 5px;
    padding-left: 5px; }
    #buscador_inmueble #collapseExample .container {
      height: 100%;
      display: flex;
      align-items: flex-end; }

#formulario form, #consignar_formulario form {
  padding-bottom: 3em; }
#formulario input,
#formulario select, #consignar_formulario input,
#consignar_formulario select {
  border-radius: 0 !important;
  height: 55px; }
#formulario select, #consignar_formulario select {
  color: #9c9c9c !important; }
#formulario input::placeholder, #consignar_formulario input::placeholder {
  color: #9c9c9c; }
#formulario .btn, #consignar_formulario .btn {
  height: 55px !important;
  border-radius: 0 !important; }
#formulario .btn-primary, #consignar_formulario .btn-primary {
  background-color: #944813;
  border: none; }
  #formulario .btn-primary:hover, #consignar_formulario .btn-primary:hover {
    background-color: #67320d; }

textarea:focus, textarea[type]:focus, input:focus, input[type]:focus, textarea:focus, select:focus {
  border-color: #944813 !important;
  box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset, 0 0 8px #944813 !important;
  outline: 0 none; }

.form-check a {
  color: #944813 !important; }
  .form-check a:hover {
    color: #944813 !important;
    text-decoration: underline; }

.propiedades .card {
  margin: 10px 0; }
.propiedades .container-img {
  position: relative;
  height: 270px;
  border-radius: 4px 4px 0 0;
  opacity: 1; }
  .propiedades .container-img::before {
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 9;
    background: linear-gradient(to top, rgba(35, 35, 37, 0.9) 0%, rgba(35, 35, 37, 0.45) 35%, rgba(22, 22, 23, 0) 60%, rgba(0, 0, 0, 0) 100%); }
  .propiedades .container-img img {
    height: 100%;
    object-fit: cover; }
  .propiedades .container-img .gestion {
    position: absolute;
    top: 0;
    z-index: 999;
    right: 0;
    width: 100%;
    display: block;
    font-size: 15px;
    padding: 0;
    overflow: hidden;
    height: 120px; }
    .propiedades .container-img .gestion span {
      background-color: #944813;
      float: left;
      transform: rotate(-45deg);
      left: -67px;
      top: 17px;
      position: relative;
      text-align: center;
      width: 200px;
      font-size: 12px;
      margin: 0;
      padding: 7px 10px;
      font-weight: 600;
      color: #fff;
      box-shadow: 1px 2px 3px 0 rgba(2, 0, 0, 0.2); }
  .propiedades .container-img .precio {
    color: #fff;
    text-align: right;
    font-size: 15px;
    position: absolute;
    bottom: 15px;
    right: 15px;
    z-index: 20; }
  .propiedades .container-img a {
    text-decoration: none;
    color: #4d4d4d;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10; }
    .propiedades .container-img a::hover {
      text-decoration: none;
      color: inherit; }
.propiedades .card-title {
  color: #944813;
  font-weight: 700;
  font-size: 1.4em; }
.propiedades .detalles {
  margin: 0;
  list-style: none;
  color: #535353;
  background: #f7f7f7;
  padding: 20px; }
  .propiedades .detalles li {
    list-style: none;
    float: left;
    font-weight: 500;
    line-height: 30px;
    font-size: 14px;
    margin-right: 25px; }
    .propiedades .detalles li span {
      display: table;
      font-weight: 600; }
.propiedades .footer {
  padding: 15px 20px;
  font-size: 14px;
  color: #535353; }
  .propiedades .footer a {
    color: inherit; }

.page-link {
  color: #944813 !important; }

#servicios a {
  color: inherit; }
  #servicios a:hover {
    text-decoration: none; }
#servicios .card {
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
  transition: all 400ms ease-in-out;
  min-height: 9rem; }
  #servicios .card:hover {
    transform: scale(1.1); }
#servicios .container-icon {
  color: #944813;
  padding: 20px;
  padding-bottom: 15px; }
  #servicios .container-icon i {
    font-size: 70px; }
#servicios h3 {
  font-family: "Century Gothic"; }

#propiedad_virtual a {
  color: inherit; }
  #propiedad_virtual a:hover {
    color: inherit;
    text-decoration: none; }
#propiedad_virtual .card-img-overlay {
  background-color: rgba(0, 0, 0, 0.3); }

#contador .contador {
  padding: 60px 0 20px;
  background: url(../images/imagen-contador.jpg);
  z-index: 0;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }
#contador .counter-box {
  margin-bottom: 40px;
  text-align: center;
  color: #fff; }
  #contador .counter-box i {
    font-size: 45px;
    line-height: inherit; }
  #contador .counter-box h1 {
    font-weight: 700;
    margin: 10px 0 5px; }

#aliados .item {
  height: 160px; }
  #aliados .item img {
    height: 100%;
    object-fit: contain;
    filter: grayscale(1); }
    #aliados .item img:hover {
      filter: none; }

#formularios a {
  color: inherit; }
  #formularios a:hover {
    color: #944813; }

footer {
  font-family: "Century Gothic";
  font-size: 13px;
  padding-top: 50px;
  background-color: #000;
  color: #9c9c9c;
  box-sizing: content-box; }
  footer a {
    color: inherit; }
  footer a:hover {
    text-decoration: none;
    color: #fff; }
  footer .borde {
    border-top: 1px solid #9c9c9c;
    margin-top: 10px; }
  footer ul {
    list-style: none;
    padding: 0; }
    footer ul li {
      display: flex;
      margin: 1em 0;
      list-style: none; }
    footer ul li:hover {
      color: #fff; }
    footer ul li .icon-container {
      display: flex;
      align-items: center;
      justify-content: initial;
      width: 1.6rem;
      height: 1.2rem; }
  footer h4, footer h6 {
    position: relative;
    color: #fff; }
  footer h4 {
    padding-bottom: 20px;
    box-sizing: border-box; }
  footer h6 {
    margin-bottom: 80px; }
  footer h6::after {
    position: absolute;
    content: '';
    width: 50px;
    height: 5px;
    background-color: #9c9c9c;
    bottom: -200%;
    left: 0; }
  footer .row.borde a {
    color: #fff; }

.subir {
  display: none;
  padding: 12px;
  background-color: #944813;
  color: white;
  font-size: 12px;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px; }

.redes {
  position: fixed;
  bottom: 40%;
  left: 0;
  z-index: 10; }
  .redes ul {
    list-style: none;
    padding: 0; }
  .redes li {
    cursor: pointer; }
  .redes img {
    width: 40px;
    height: 40px;
    transition: all 200ms ease-in-out; }
  .redes img:hover {
    width: 45px; }

#detalle_inmueble ul {
  font-size: 1.2rem;
  list-style: none;
  padding: 0; }
  #detalle_inmueble ul li i {
    color: #944813 !important; }
  #detalle_inmueble ul li .badge-dark {
    background-color: #944813 !important; }
#detalle_inmueble .caracteristicas .card {
  margin-top: 1.1rem;
  border: none; }
  #detalle_inmueble .caracteristicas .card ul {
    list-style: none;
    padding: 0;
    font-size: 1rem; }
#detalle_inmueble .caracteristicas .compartir {
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.1); }
  #detalle_inmueble .caracteristicas .compartir .fa-facebook-square {
    color: #3b5998;
    font-size: 2rem; }
  #detalle_inmueble .caracteristicas .compartir .fa-twitter {
    color: #00acee;
    font-size: 2rem; }
  #detalle_inmueble .caracteristicas .compartir .fa-whatsapp {
    color: #00bb2d;
    font-size: 2rem; }
#detalle_inmueble .form-contact-property {
  border: none;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.1); }
#detalle_inmueble .form-control {
  border-radius: 0;
  height: 47px; }
#detalle_inmueble textarea {
  height: 80px !important; }
#detalle_inmueble .title-form {
  position: relative;
  margin-bottom: 1.5rem; }
  #detalle_inmueble .title-form:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    width: 2.5rem;
    height: 3px;
    background-color: #944813;
    bottom: -45%; }

.btn-primary {
  background-color: #944813;
  border: none; }
  .btn-primary:hover {
    background-color: #3a1c07; }

html, body {
  overflow-x: hidden; }

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  overflow-x: hidden;
  padding: 0;
  margin: 0; }

section h2 {
  font-family: "Century Gothic";
  font-weight: 600;
  color: #4d4d4d;
  margin-bottom: 70px;
  text-align: center;
  text-transform: uppercase; }

body .body {
  flex: 1;
  padding: 0;
  overflow-x: hidden;
  margin: 0; }

.bg-grey {
  background: #f9f9f8; }

.separador {
  padding-top: 70px;
  padding-bottom: 40px; }

#slide_inicio .carousel-control-next, #slide_inicio .carousel-control-prev {
  width: 5%; }
#slide_inicio .carousel-inner {
  height: 100vh;
  overflow: hidden; }
#slide_inicio img {
  height: 100vh; }

#carousel .row {
  position: relative; }
#carousel .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  display: flex;
  align-items: center; }
  #carousel .overlay h1 {
    font-family: "Century Gothic";
    font-weight: 600;
    margin-bottom: 100px;
    font-size: 3.3em; }
  #carousel .overlay .container {
    width: 100%; }
  #carousel .overlay .btn-primary {
    background-color: #944813;
    border: none; }
    #carousel .overlay .btn-primary:hover {
      background-color: #67320d; }

.popover-body a {
  color: #944813 !important; }

iframe {
  padding-bottom: 2em; }

#contacto ul .nav-item a {
  color: #000; }
#contacto ul .nav-item .nav-link.active {
  background-color: #944813 !important;
  color: #fff; }
#contacto .tab-content .caracteristicas {
  padding-bottom: 2em; }
  #contacto .tab-content .caracteristicas .card {
    border: none;
    margin-top: 3em; }
    #contacto .tab-content .caracteristicas .card i {
      font-size: 1.5em; }
    #contacto .tab-content .caracteristicas .card a {
      color: inherit; }
#contacto .tab-content h5 {
  color: #9c9c9c;
  margin-bottom: 1em; }

#consigna h3 {
  padding: 0.5em 0; }

/*# sourceMappingURL=style.css.map */
