#consigna{
    h3{
        padding: 0.5em 0;
        color: $color_principal;
    }
    .frase_consigna{
        background-image: url(../images/banner_consigna.jpg);
        padding: 60px 0 20px;
        z-index: 0;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        color: #fff;
        &:before{
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.7);
        }
    }
    ul{
        list-style: none;
    }
    .fa-check{
        color: $color_principal;
    }
}