footer{
    font-family: $f-texto;
    font-size: 13px;
    padding-top:50px;
    background-color: #565656;
    color: $blanco;
    font-weight: 500;
    box-sizing: content-box;
    h6{
        font-weight: 600;
    }
    a{
        color:inherit;
    }a:hover{
        text-decoration: none;
        color: $blanco;
    }
    .borde{
        border-top: 1px solid $gris;
        margin-top: 10px;
    }
    ul{
        list-style: none;
        padding: 0;
        li{
            display:flex;
            margin: 1em 0;
            list-style: none;
        }
        li:hover{
            color: $blanco;
        }
        li .icon-container{
            display: flex;
            align-items: center;
            justify-content: initial;
            width: 1.6rem;
            height: 1.2rem;
        }
    }
    h4, h6{
        position: relative;
        color: $blanco;
    }
    h4{
        padding-bottom: 20px;
        box-sizing: border-box;
    }
    h6{
        margin-bottom: 80px;
    }
    h6::after{
        position: absolute;
        content: '';
        width: 50px;
        height: 5px;
        background-color: $gris;
        bottom: -200%;
        left: 0;
    }
    .row.borde a{
        color:$blanco;
    }
}