html, body {
    overflow-x: hidden;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}
section h2, section h3 , h5 , h4{
    font-family: $f-texto;
    font-weight: 800;
    color: $color_principal;
    margin-bottom: 70px;
    text-align: center;
    text-transform: uppercase;
}
body .body {
    flex: 1;
    padding: 0;
    overflow-x: hidden;
    margin: 0;
}
p{
    text-align: justify;
}
.card{
    border-radius: 0;
}
.btn-primary.focus, .btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(145, 58, 0, 0.5);
}

.page-link:focus {
    z-index: 2;
    outline: 0;
    box-shadow: 0 0 0 0.2rem #9448132e;
}

.bg-grey{
    background: #f9f9f8;
}
.separador{
    padding-top: 70px;
    padding-bottom: 40px;
}
#slide_inicio{
    .carousel-control-next, .carousel-control-prev {
        width: 5%;
    }
    .carousel-inner{
        max-height: 1350px;
        overflow: hidden;
    }
    img{
        height:100vh;
    }
}
#carousel{
    .row{
        position: relative;
    }
    .overlay{
        position: absolute;
        top: 0;
        bottom: 0;
        left:0;
        right: 0;
        background-color: rgba(0,0,0,0.5);
        color:$blanco;
        display: flex;
        align-items: center;
        h1{
            font-family: $f-texto;
            font-weight: 600;
            margin-bottom: 1rem;
            font-size: 2.5em;
        }
        .container{
            width: 100%;
        }
        .btn-primary{
            background-color: $color_principal;
            border:none;
            &:hover{
                background-color: darken($color: $color_principal, $amount: 10%);
            }
        }
    }
}
.popover-body{
    a{
        color:$color_principal !important;
    }
}
iframe{
    padding-bottom: 2em;
}
