@font-face {
    font-family: 'century-gotic';
    src: url("../fonts/GOTHIC.TTF"); 
}

html, body {
    overflow-x: hidden;
    font-family: "century-gotic";
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}
section h2, section h3 , h5 , h4{
    font-family: $f-texto;
    font-weight: 800;
    color: $color_principal;
    margin-bottom: 70px;
    text-align: center;
    text-transform: uppercase;
}
body .body {
    flex: 1;
    padding: 0;
    overflow-x: hidden;
    margin: 0;
}
p{
    text-align: justify;
}
.card{
    border-radius: 0;
}
.btn-primary.focus, .btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(145, 58, 0, 0.5);
}

.page-link:focus {
    z-index: 2;
    outline: 0;
    box-shadow: 0 0 0 0.2rem #9448132e;
}

.bg-grey{
    background: #f9f9f8;
}
.separador{
    padding-top: 0px;
    padding-bottom: 40px;
    @include media-breakpoint-up(md){
        padding-top: 70px;
        padding-bottom: 40px;
    }

}
#slide_inicio{
    .carousel-control-next, .carousel-control-prev {
        width: 5%;
    }
    
    img{
        height:100vh;
    }
}
#carousel{
    .row{
        position: relative;
    }
    .overlay{
        position: absolute;
        top: 0;
        bottom: 0;
        left:0;
        right: 0;
        background-color: rgba(0,0,0,0.5);
        color:$blanco;
        display: flex;
        align-items: center;
        h1{
            font-family: $f-texto;
            font-weight: 600;
            margin-bottom: 1rem;
            font-size: 2.5em;
        }
        .container{
            width: 100%;
        }
        .btn-primary{
            background-color: $color_principal;
            border:none;
            &:hover{
                background-color: darken($color: $color_principal, $amount: 10%);
            }
        }
    }
}
.popover-body{
    a{
        color:$color_principal !important;
    }
}
iframe{
    padding-bottom: 2em;
}
#servicios{
    .cont_servicios{
        padding-right: 0%;
        .tarjeta{
            padding-right: 0%;
        }
    }
    .botton_virtual{
        width: 100%;
        @include media-breakpoint-up(md){
            width: 100%;
        }
        @include media-breakpoint-up(lg){
            width: 100%;
      }
    }
    .texto_servicios{
        font-size: 27px;
        @include media-breakpoint-up(md){
            font-size: 2rem;
        }
        @include media-breakpoint-up(lg){
            font-size: 2rem;
      }
    }
    
}

.cont_bogota{
    padding: 12%;
    margin-top: -57px;
    @include media-breakpoint-up(md){
        padding: 6%;
        margin-top: -36px;
    }
    @include media-breakpoint-up(lg){
        padding: 0%;
        margin-top: 0px;
  }

}

.con_medellin{
    padding: 12%;
    margin-top: -57px;
    @include media-breakpoint-up(md){
        padding: 5%;
    margin-top: -4%;
    }
    @include media-breakpoint-up(lg){
        padding: 0%;
        margin-top: 0px;
  }
}
.botton_virtual{
    width: 100%;
    @include media-breakpoint-up(md){
        width: 100%;
    }
    @include media-breakpoint-up(lg){
        width: 100%;
        margin-top: 9%;
  }
}

.cont_intruct_boton{
    width: 100%;
    @include media-breakpoint-up(md){
        width: 100%;
        margin-top: 6%;
    }
    @include media-breakpoint-up(lg){
        margin-top: 9%; 
        
  }
}
.cont_cards{
    padding-right: 0%;
    margin-left: -2%;
   
}
.separador_clientes{
    padding-top: 32px;
    padding-bottom: 40px;   
    @include media-breakpoint-up(md){
        padding-top: 70px;
    }

}
.text_publica{
    margin-left: 9%;
    @include media-breakpoint-up(md){
        margin-left: 3%;
    }
    @include media-breakpoint-up(lg){
        margin-left: 0%;
    }
}
.cont_img{
    margin-left: 9%;
    @include media-breakpoint-up(md){
        margin-left: 0%;
    }
}
.cont_titulo{
    margin-left: 5%;
    @include media-breakpoint-up(md){
        margin-left: 0%;
    }
}
.cont_items{
    margin-left: 8%;
    @include media-breakpoint-up(md){
        margin-left: 0%;
    }
}
.cont_experiencia{
    margin-left: 10%;
    @include media-breakpoint-up(md){
        margin-left: 0%;
    }
}
.cont_experiencia_trabajo{
    margin-left: 10%;
    @include media-breakpoint-up(md){
        margin-left: 6%;
    }
    @include media-breakpoint-up(md){
        margin-left: 10%;
    }
}