#menu{
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.transparent{
    background-color: transparent !important;
    -webkit-box-shadow: 0px 1px 1px 0px $blanco; 
    box-shadow: 0px 1px 1px 0px $blanco;
    color: $blanco !important;
    a{
        color: $blanco !important;
        font-family: $f-texto;
        font-weight: bold;
        font-size: 0.9rem !important;
    }
    .nav-item.active{
        a{
            position: relative;
            &:before{
                content: "";
                background: $blanco;
                position: absolute;
                width: 30px;
                height: 4px;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
            }
        }
    }
}
.bg-light{
    background-color: $blanco !important;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    a{
        font-family: $f-texto;
        color: $negro !important;
        font-size: 0.9rem !important;
        font-weight: bold;
    }
    .nav-item.active{
        a{
            position: relative;
            &:before{
                content: "";
                background: $color_principal;
                position: absolute;
                width: 30px;
                height: 4px;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
            }
        }
    }
}
.borde-menu{
    box-shadow:0 0 5px rgba(0, 0, 0, .1);
}

