.propiedades {
  .card{
    margin: 10px 0;
  }
  .container-img {
    position: relative;
    height: 270px;
    border-radius: 4px 4px 0 0;
    opacity: 1;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      height: 100%;
      width: 100%;
      z-index: 9;
      background: linear-gradient(
        to top,
        rgba(35, 35, 37, 0.9) 0%,
        rgba(35, 35, 37, 0.45) 35%,
        rgba(22, 22, 23, 0) 60%,
        rgba(0, 0, 0, 0) 100%
      );
    }
    img{
      height: 100%;
      object-fit: cover;
    }
    .gestion {
      position: absolute;
      top: 0;
      z-index: 999;
      right: 0;
      width: 100%;
      display: block;
      font-size: 15px;
      padding: 0;
      overflow: hidden;
      height: 120px;
      span {
        background-color: $color-principal;
        float: left;
        transform: rotate(-45deg);
        left: -67px;
        top: 17px;
        position: relative;
        text-align: center;
        width: 200px;
        font-size: 12px;
        margin: 0;
        padding: 7px 10px;
        font-weight: 600;
        color: #fff;
        box-shadow: 1px 2px 3px 0 rgba(2, 0, 0, 0.2);
      }
    }
    .precio {
      color: $blanco;
      text-align: right;
      font-size: 15px;
      position: absolute;
      bottom: 15px;
      right: 15px;
      z-index: 20;
    }
    a {
      text-decoration: none;
      color: $gris_oscuro;
      &::hover {
        text-decoration: none;
        color: inherit;
      }
    }
  }
  .card-title {
    color: $color-principal;
    font-weight: 700;
    font-size: 1.4em;
  }
  .detalles {
    margin: 0;
    list-style: none;
    color: #535353;
    background: #f7f7f7;
    padding: 20px;
    li {
      list-style: none;
      float: left;
      font-weight: 500;
      line-height: 30px;
      font-size: 14px;
      margin-right: 25px;
      span {
        display: table;
        font-weight: 600;
      }
    }
  }
  .footer{
    padding: 15px 20px;
    font-size: 14px;
    color: #535353;
    a{
      color: inherit;
    }
  }
}
.page-link{
  color: $color-principal !important;
}