#quienesSomos{
    .container-img{
        overflow: hidden;
        img{
            transition: all .5s ease-in;
            &:hover{
                transform: scale(1.1);
            }
        }
    }
    .container-img2{
        overflow: hidden;
        height: 217px;
    }
    .mision{
        background-color: $negro;
        color: #fff !important;
        h2{
            color: #fff;
        }
    }
    .contenido_texto{
    margin-left: 9%;
    margin-top: 7%;
    @include media-breakpoint-up(md){
        margin-left: 0%;
        margin-top: 0%;
    }
    }
    .contenedor_imagenes{
        padding-left: 13%;
    }
    .cont_valores{
        margin-left: 3%;
    margin-top: 8%;
        @include media-breakpoint-up(md){
            margin-left: 0%;
            margin-top: 0%;
        }
    }
}
.contn_btonosede{
    margin-left: -1%;
    @include media-breakpoint-up(md){
        margin-left: 0%;
    }
}
.contenido_cards{
    width: 109%;
    @include media-breakpoint-up(md){
        width: 100%;
    }

}