#servicios{
    a{
        color:inherit;
        &:hover{
            text-decoration: none; 
        }
    }
    .card{
        transition: all 400ms ease-in-out;
        min-height: 9rem;
        border: 2px solid $color_principal;
        height: 210px;
        .color-blanco{
            color: #fff !important;
        }
        &:hover{
            transform: scale(1.1);
        }

    }
    .container-icon{
        color: $color_principal;
        padding: 20px;
        padding-bottom: 15px;
        i{
            font-size: 70px;
        }
    }
    h3{
        font-family: $f-texto;
    }
}
#propiedad_virtual{
    a{
        color:inherit;
        &:hover{
            color: inherit;
            text-decoration: none;
        }
    }
    .card-img-overlay{
        background-color: rgba(0, 0, 0, 0.3);
    }
}
#contador{
    .contador{
        padding: 60px 0 20px;
        // background: url(../images/imagen-contador.jpg);
        z-index: 0;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .counter-box{
        margin-bottom: 40px;
        text-align: center;
        color: $color_principal;
        i{
            font-size: 45px;
            line-height: inherit;
        }
        h1{
            font-weight: 700;
            margin: 10px 0 5px;
        }
    }
}

#aliados{
    .item{
        height: 160px;
        img{
            height: 100%;
            object-fit: contain;
            transition: all 0.5s ease-in-out;
            &:hover{
                transform: scale(1.2);
            }
        }
    }
}
#formularios{
    a{
        color:inherit;
        &:hover{
            color:$color_principal;
        }
    }
}

.frase_servicios{
        background-image: url(../images/banner-1.jpg);
        padding: 60px 0 20px;
        z-index: 0;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        color: #fff;
        &:before{
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.808);
        }
}

#clientes{
    a{
        color:inherit;
        &:hover{
            text-decoration: none; 
        }
    }
    .card{
        transition: all 400ms ease-in-out;
        min-height: 9rem;
        &:hover{
            transform: scale(1.1);
        }
    }
    .container-icon{
        color: $color_principal;
        padding: 20px;
        padding-bottom: 15px;
        i{
            font-size: 70px;
        }
    }
    h3{
        font-family: $f-texto;
    }
}

.asesores-contain{
    .card-title{
        color: $color_principal;
        font-size: 1.2rem;
        font-weight: 700;
    }
}

#servi_ar_ven_ava{
       margin-bottom: 10%;;
    .imagen{
        width: 100%;
        height: 100%;
        @include media-breakpoint-up(md){
            object-fit: cover;
            visibility: inherit;
        }@include media-breakpoint-up(lg){
            object-fit: contain;
        }
    }
    .color_titulo{
        color: #4b290f;
    }
    .titulos{
        margin-bottom: 24px;margin-top: 9%;
    }
    
    .fas{
        color: #c87a33;
    }
    .enlace{
        color: #c87a33; font-weight: 800;
        text-transform: uppercase; 
        text-decoration: none;
    }
    .sub_tit{
        color: #c87a33;
    }
    .stylo_p{
        margin-top: 10%;
    }
    .collapsed .fas:before {
        content: "\f078";
        
    }
    .btn-primary:active{
        color: #fff;
    background-color: #77481e;
    border-color: #77481e;
    }
    .btn-primary:active:focus{
        box-shadow: 0 0 0 0.2rem rgba(145, 58, 0, 0.5);
    }
    .titulo_trabaja{
        margin-bottom: 0px;
    }
.card{
    border: 1px solid rgba(255, 255, 255, 0.125);
}
    
}

#nuestros_servicios{
    .cont_servicios {
        padding-left: 12%;
        @include media-breakpoint-up(md){
            margin-left: -5%;
        }@include media-breakpoint-up(lg){
            margin-left: -6%;
        }
    }

}

.tamaño_boton{
    padding-left: 23%;
    padding-right: 23%;
    @include media-breakpoint-up(md){
        padding-left: 12%;
    padding-right: 12%;
    }@include media-breakpoint-up(lg){
    padding-left: 6%;
    padding-right: 6%;
    }
}
.tamaño_comparar{
    padding-left: 19%;
    padding-right: 19%;
    @include media-breakpoint-up(md){
        padding-left: 10%;
        padding-right: 10%;
    }@include media-breakpoint-up(lg){
        padding-left: 6%;
    padding-right: 6%;
    }
}
.color_modal{
    color: inherit;
}