.subir{
    display: none;
    padding: 12px;
    background-color: $color_principal;
    color: white;
    font-size: 12px;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 5;
}
.redes{
    position: fixed;
    bottom: 29%;
    left: 0;
    z-index:10;
    ul{
    list-style: none;
    padding: 0;
    }
    li{
        cursor: pointer;
    }
    img{
        width: 40px;
        height: 40px;
        transition: all 200ms ease-in-out;
    }img:hover{
        width: 45px;
    }
}