.oferta{
    .img-fluid{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
   
}
.titulo{
    margin-bottom: 12px;
}
.link_correo{
    color: $color_principal;
   
}
.link_correo:hover{
    color: $gris_oscuro;
}
#lista{
    ul{
        .fas{
            color: $color_principal;
        }
    }
}