// **********************************************
//         Colores principales
// ********************************************
@font-face {
    font-family: 'Century Gothic';
    src: local('Century Gothic'),
    url(../fonts/DidactGothic-Regular.ttf);
}

// ****************************************
//     Colores
// ****************************************

$f-texto: 'Century Gothic';
$color_principal: #944813;
$blanco: #fff;
$negro: #000;
$gris_oscuro: #4d4d4d;
$gris: #9c9c9c;

// **********************************************
//         Tamaños de letra footer
// *********************************************


