@import 'bootstrap';
@import 'breakpoints';
@import'menu';
@import 'overlayBuscador';
@import 'propiedades';
@import 'servicios';
@import 'footer';
@import 'subir';
@import 'detalleInmueble';
@import 'arrows_owl';
@import 'inicio';
@import 'contacto';
@import 'consigna';
@import 'quienes';
@import 'trabaja';
